faster-whisper
sounddevice
scipy
pyttsx3
edge-tts
playsound==1.2.2
pyautogui
requests
screen-brightness-control
pandas
numpy
scikit-learn
joblib
openpyxl
streamlit
pytesseract
pillow

opencv-python
yfinance
customtkinter
psutil
